body { /*den samme som de andre css'er*/
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff 20%, #f8c6d8 60%);
    color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
  }

.stempelContainer {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); /* 5 kolonner */
    gap: 20px; 
    width: 90%; 
    max-width: 100%; 
}

.stempelBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1; /* fra denne hjemmeside: https://developer.mozilla.org/en-US/docs/Web/CSS/aspect-ratio */
    border-radius: 15px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}



