body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff 20%, #f8c6d8 60%);
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}

.welcome-container {
  text-align: center;
  border: 2px solid #676767;
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
}

.logo img {
  max-width: 150px;
  margin-bottom: 20px;
}

h1 {
  color: #1a1a1a;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  color: #060606;
  margin-bottom: 20px;
}

.buttons button {
  background-color: #f8c6d8;
  color: #1a1a1a;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
  background-color: #ffc0cb;
  transform: scale(1.05);
}
